main.counter {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 0.5fr 1fr;
}

h1 {
  font-size: 3rem;
  font-family: var(--font-korean-main);
}

#number {
  font-size: 6rem;
  font-weight: bold;
}

.button-container .btn {
  display: inline-block;
  color: var(--clr-black);
  background: transparent;
  padding: 0.375rem 0.75rem;
  margin: 0.5rem;
  border-radius: var(--radius);

  font-size: 2rem;
  font-family: var(--font-korean-main);
  letter-spacing: var(--spacing);
  cursor: pointer;

  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
