/*
============
네비게이션 style
*/
nav {
  display: grid;
  align-items: center;
  height: 5rem;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style-type: none;
}

nav a {
  transition: var(--transition);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--clr-primary-5);
}

/*
=============== 
Container
===============
*/
main.flipper {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.container-flipper {
  text-align: center;
}

.container-flipper h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1.5rem 2.5rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}
.color {
  color: var(--clr-primary-5);
}
.btn-hero {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn-hero:hover {
  color: var(--clr-white);
  background: var(--clr-primary-5);
}
